@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.map_bg {
  background-image: url("http://ultraimg.com/images/d394234afb02.png");
  background-size: cover;
}

.map_pin {
  width: 12%;
}

a {
  text-decoration: none;
}